.App {
  font-family: sans-serif;
  text-align: center;
}
.folder {
  padding-left: 20px;
  cursor: pointer;
  text-align: left;
}

.file {
  padding-left: 40px;
  color: rgb(205, 59, 6);
  text-align: left;
}

h1 {
  color: rgb(205, 59, 6);
}
